################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ClienteJustificacion/bin/Debug
/ClienteJustificacion/obj/Debug
/packages
/ProxyJustificacionService/bin/Debug
/ProxyJustificacionService/obj/Debug
/ClienteJustificacion/bin
/ClienteJustificacion/obj/Release
/ProxyJustificacionService/bin/Release
/ProxyJustificacionService/obj/Release
/.vs/ClienteJustificacionAESEG/v14
