<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="justificacionWsBinding" messageEncoding="Mtom" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="test">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://aeseg.pre.isciii.es/Services/Justificantes.svc"
        binding="wsHttpBinding"
        bindingConfiguration="justificacionWsBinding"
        behaviorConfiguration="test"
        contract="ProxyJustificacion.IJustification">
        <identity>
          <dns value="*.pre.isciii.es" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>