<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="justificacionWsBinding" messageEncoding="Mtom" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="test">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://aeseg.isciii.es/Services/Justificantes.svc" binding="wsHttpBinding" bindingConfiguration="justificacionWsBinding" behaviorConfiguration="test" contract="ProxyJustificacion.IJustification">
        <identity>
          <dns value="*.isciii.es"/>
        </identity>
      </endpoint>
    </client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647"/>
    </diagnostics>
  </system.serviceModel>
  <nlog>
    <targets>
      <target name="FicheroLog" type="File" fileName="./log/proxy.${shortdate}.log" layout="${longdate} ${uppercase:${level}} || Call site: ${callsite:className=true:methodName=true} ||  ${message} ${exception:format=toString}"/>
      <target name="Consola" type="ColoredConsole" layout="${longdate} ${uppercase:${level}} ||  ${message} ${exception:format=toString}${newline}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="FicheroLog"/>
      <logger name="*" levels="Info,Warn" writeTo="Consola"/>
    </rules>
  </nlog>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="nlog" type="NLog.NLogTraceListener, NLog" forceLogLevel="Trace"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="nlog" type="NLog.NLogTraceListener, NLog" forceLogLevel="Trace"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
